body {
	margin: 1em 385px 1em 1em;
	font: #222 12pt/18pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: white url('lowrider.jpg') no-repeat fixed right bottom;
	background-size: 400px 400px;
}
